/*PAGE REGISTER*/
.logo-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #333639;
  border-radius: 0.3rem;
  background-color: black;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
input:focus {
  outline: none;
  border-color: #1d9bf0;
}
select:focus {
  outline: none;
  border-color: #1d9bf0;
}
.switch {
  color: #1d9bf0;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
}
.pswitch {
  text-align: right;
}
.date-info {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #777676;
}
.date-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
select {
  border: 1px solid #333639;
  border-radius: 0.3rem;
  background-color: black;
  color: #ffffff;
  height: 3rem;
  flex: 1 1 30%;
  padding: 0 0.5rem;
}
.register-btn {
  width: 100%;
  padding: 0.8rem;
  background-color: #1d9bf0;
  color: #ffffff;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}
.error-msg {
  color: #ff4d4f;
  font-size: 0.85rem;
  margin-bottom: 1rem;
  display: inline-block;
}
